.site-licheniya__hero{
  background-image: url("../images/licheniya-hero-backgroundd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.site-licheniya__title{
  width: 990px;
  margin: 0;
  padding-top: 220px;
  padding-left: 80px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  color: #fff;
  box-sizing: border-box;
}



@media only screen and (min-width:1401px) and (max-width:1727px){
  

}
@media only screen and (min-width:1201px) and (max-width:1400px){
 

}

@media only screen and (min-width:1050px) and (max-width:1200px){
  

  
}
@media only screen and (min-width:992px) and (max-width:1049px){
  
  
}



@media (min-width:768px) and (max-width: 991px) {

}

@media (min-width: 678px)  and (max-width: 767px) {
  

}
@media (min-width: 577px)  and (max-width: 677px) {
  

}

@media (min-width: 481px)  and (max-width: 576px) {
  .site-licheniya__hero{
    background-image: url(../images/mobile-licheniya-hero.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-attachment: scroll;
      height: 300px;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: -1;
  }
}

@media (min-width: 320px)  and (max-width: 480px) {
  .site-licheniya__hero{
    background-image: url(../images/mobile-licheniya-hero.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-attachment: scroll;
      height: 300px;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: -1;
    
  }
}